
body{padding-top:64px;}


/*==================== header ======================*/

.nav a {
    font-size: 13px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
    color: #ffffff;
	background:none;
}
.navbar .brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 7px 20px;
    text-shadow: 0 1px 0 #ffffff;
}
.navbar .brand:hover, .navbar .brand:focus {
    text-decoration: none;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.navbar .nav > li > a {
    //color: #777777;
    float: none;
    padding:10px 15px 10px;
    text-decoration: none;
}


/*==================== table ======================*/

.nwSbHdng, .subscription .nwSbHdng {
    color: #7e7764;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    text-align: left;
}
.panel-group .nwTblStl{
	box-shadow:none;
	border-radius:0;
	margin:0 0 20px 0;
}
.nwTblStl table{
	margin:0 !important;
	border:1px solid #dadada;
}
.nwTblStl table, .container .nwTblStl table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 30px;
}
.nwTblStl table th, .container .nwTblStl table th {
    border: 1px solid #dadada;
    font-size: 14px;
	text-align:center;
}
.nwTblStl table td, .container .nwTblStl table td {
    border: 1px solid #dadada;
    font-size: 14px;
    font-weight: normal;
	text-align:center;
}
.nwTblStl table td.nm, .container .nwTblStl table td.nm {
    width: 300px;
}
.nwTblStl table td.dscpton, .container .nwTblStl table td.dscpton {
    width: 400px;
}
.nwTblStl table td.vol, .container .nwTblStl table td.vol {
    width: 300px;
}
.nwTblStl table td.crt, .container .nwTblStl table td.crt {
    width: 200px;
}
.nwTblStl table td.crt a, .container .nwTblStl table td.crt a {
    background: #044a86 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    padding: 10px 10px 10px 50px;
    position: relative;
}
.nwTblStl table td.crt a::before, .container .nwTblStl table td.crt a::before {
    background: #02244f none repeat scroll 0 0;
    color: #fff;
    content: "+";
    font-size: 29px;
    font-weight: bold;
    height: 43px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 37px;
}
.nwTblStl table td.vol input, .container .nwTblStl table td.vol input {
    margin-top: 8px;
    padding: 5px 8px;
    text-align: center;
    width: 50px;
}
.tblTbl table {
    margin-bottom: 0 !important;
}
.tblTbl table tr td, .tblTbl table tr th {
    padding: 10px;
}
.crt .mybtn{
	padding:7px 30px;
}
.nxtprv{
	background:green;
	padding:5px 25px;
	color:#fff;
	border-radius:3px;
}

.crt .panel-body button.rmvBtn{
	background:#d9534f;
	padding:5px 25px;
	color:#fff;
	border-radius:3px;
	border:none;
	font-weight:bold;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: "" !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #0081c2 !important;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
    background-repeat: repeat-x !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 10 px !important;
    border-top-right-radius: 10 px !important;
    border-bottom-left-radius: 10 px !important;
    border-bottom-right-radius: 10 px !important;
    margin-top: 0;
}

.container{
	width:970px !important;
}

/* New */

.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px !important;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent !important;
    color: #333333 !important;
    text-decoration: none !important;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #e5e5e5 !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset !important;
    color: #555555 !important;
    text-decoration: none !important;
}
.navbar .btn-navbar {
    background-color: #ededed !important;
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075) !important;
    color: #ffffff !important;
    display: none !important;
    float: right !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 7px 10px !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background-color: #e5e5e5 !important;
    color: #ffffff !important;
}
.navbar .btn-navbar:active, .navbar .btn-navbar.active {
}
.navbar .btn-navbar .icon-bar {
    background-color: #f5f5f5 !important;
    border-radius: 1px !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
    display: block !important;
    height: 2px !important;
    width: 18px !important;
}
.btn-navbar .icon-bar + .icon-bar {
    margin-top: 3px !important;
}
.navbar .nav > li > .dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2) !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
    content: "" !important;
    display: inline-block !important;
    left: 9px !important;
    position: absolute !important;
    top: -7px !important;
}
.navbar .nav > li > .dropdown-menu::after {
    border-bottom: 6px solid #ffffff !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    content: "" !important;
    display: inline-block !important;
    left: 10px !important;
    position: absolute !important;
    top: -6px !important;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu::before {
    border-bottom: 0 none !important;
    border-top: 7px solid rgba(0, 0, 0, 0.2) !important;
    bottom: -7px !important;
    top: auto !important;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu::after {
    border-bottom: 0 none !important;
    border-top: 6px solid #ffffff !important;
    bottom: -6px !important;
    top: auto !important;
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #333333 !important;
    border-top-color: #333333 !important;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #e5e5e5 !important;
    color: #555555 !important;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #777777 !important;
    border-top-color: #777777 !important;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #555555 !important;
    border-top-color: #555555 !important;
}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    left: auto !important;
    right: 0 !important;
}
.navbar .pull-right > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu.pull-right::before {
    left: auto !important;
    right: 12px !important;
}
.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu.pull-right::after {
    left: auto !important;
    right: 13px !important;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    border-radius: 6px 0 6px 6px !important;
    left: auto !important;
    margin-left: 0 !important;
    margin-right: -1px !important;
    right: 100% !important;
}
.navbar-inverse .navbar-inner {
    background-color: #1b1b1b !important;
    background-image: linear-gradient(to bottom, #222222, #111111) !important;
    background-repeat: repeat-x !important;
    border-color: #252525 !important;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999999 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
    color: #ffffff !important;
}
.navbar-inverse .brand {
    color: #999999 !important;
}
.navbar-inverse .navbar-text {
    color: #999999 !important;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    background-color: transparent !important;
    color: #ffffff !important;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #111111 !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-link {
    color: #999999 !important;
}
.navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: #ffffff !important;
}
.navbar-inverse .divider-vertical {
    border-left-color: #111111 !important;
    border-right-color: #222222 !important;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #111111 !important;
    color: #ffffff !important;
}
.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-bottom-color: #ffffff !important;
    border-top-color: #ffffff !important;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #999999 !important;
    border-top-color: #999999 !important;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #ffffff !important;
    border-top-color: #ffffff !important;
}
.navbar-inverse .navbar-search .search-query {
    background-color: #515151 !important;
    border-color: #111111 !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15) !important;
    color: #ffffff !important;
    transition: none 0s ease 0s  !important;
}
.navbar-inverse .navbar-search .search-query:-moz-placeholder {
    color: #cccccc !important;
}
.navbar-inverse .navbar-search .search-query:focus, .navbar-inverse .navbar-search .search-query.focused {
    background-color: #ffffff !important;
    border: 0 none !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
    color: #333333 !important;
    outline: 0 none !important;
    padding: 5px 15px !important;
    text-shadow: 0 1px 0 #ffffff !important;
}
.navbar-inverse .btn-navbar {
    background-color: #0e0e0e !important;
    background-image: linear-gradient(to bottom, #151515, #040404) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
    background-color: #040404 !important;
    color: #ffffff !important;
}
.navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active {
}

.dropup, .dropdown {
    position: relative;
}
.dropdown-toggle {
}
.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0 none;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
.dropdown .caret {
    margin-left: 2px;
    margin-top: 8px;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu .divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    color: #ffffff;
    text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    color: #ffffff;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: transparent;
    background-image: none;
    cursor: default;
    text-decoration: none;
}
.open {
}
.open > .dropdown-menu {
    display: block;
}
.dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid #000000;
    border-top: 0 none;
    content: "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 1px;
    top: auto;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    border-radius: 0 6px 6px;
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
    border-radius: 5px 5px 5px 0;
    bottom: 0;
    margin-bottom: -2px;
    margin-top: 0;
    top: auto;
}
.dropdown-submenu > a::after {
    border-color: transparent transparent transparent #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}
.dropdown-submenu:hover > a::after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}
.dropdown .dropdown-menu .nav-header {
    padding-left: 20px;
    padding-right: 20px;
}
