/*------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------*/
#superfooter {
	padding-top: 40px;
	padding-bottom: 50px;
}

/*
#footer {
	min-width:1040px; 
	width:auto !important; 
	width:1040px;
	background:#DBDBDB url('../images/footer-bg.png') repeat-x 0 0;	
	color: #666;
	padding-bottom: 100px;
}
*/
#footer {
	min-width:1040px; 
	width:auto !important; 
	width:1040px;
	background:#333333 url('../images/footer-bg-dark.jpg') repeat 0 0;	
	color: #e5e5e5;
	/*padding-bottom: 100px;*/
	clear:both;
}


body.section-subeconomy #footer {
	min-width:1211px; 
	width:auto !important; 
	width:1211px;
}
#footer h3 {
	font-family: droid-sans, sans-serif;
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
}
#footer h3 a {
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-transform: none;
}
#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer li {
	font-size: 14px;
	margin-bottom: 10px;
}
#footer li a {
	color: #666;
	font-weight: normal;
}
#footer ul.social {
	margin: 0;
	padding: 0;
}

/*
#footer ul.social li {
	background: url('../_media/icons_social_footer.png') no-repeat 0 0;	
	padding-left: 25px;
	line-height: 20px;
	float: none;
	width: auto;
	margin: 0 0 15px 0;
}
*/
#footer ul.social li {
	background: url('../images/icons_social_footer-dark.png') no-repeat 0 0;	
	padding-left: 25px;
	line-height: 20px;
	float: none;
	width: auto;
	margin: 0 0 15px 0;
}


#footer ul.social li a {
	display: inline;
	background: none;
	width: auto;
	height: auto;
}
#footer ul.social li.icon-facebook {
	background-position: 0 -20px;
}
#footer ul.social li.icon-twitter {
	background-position: 0 -40px;
}
#footer ul.social li.icon-linkedin {
	background-position: 0 -60px;
}
#footer ul.social li.icon-googleplus {
	background-position: 0 -80px;
}
#footer ul.social li.icon-youtube {
	background-position: 0 -100px;
}

#footer p {
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
}
#footer p a {
	font-size: 12px;
	text-decoration: none;
	color: #666;
}
#footer p a:hover {
	text-decoration: underline;
}
#footer p.copyright {
	border-top: 1px solid #444;
	line-height: 2;
	color: #999;
	font-size: 11px;
	padding-top: 15px;
}
#footer p.copyright a {
	color: #686868;
	font-size: 11px;
}

#footer p.contact {
	border:none; 
	margin-bottom:15px; 
	font-size:larger; 
	font-weight:600; 
	color:#5e9741;
}

/*------------------------------------------------------------------------------
GRID
------------------------------------------------------------------------------*/
.container {float: left;width:100%;}
#vp-yellow.container, #content-wrap.container, #footer.container {float:none;} /*easier than removing the class from all pages*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.wrapper:before, .wrapper:after,
.wrapper-inside:before, .wrapper-inside:after,.wrapper-inside-pullup:after, .wrapper-inside-pullup:before,
.white-box:before, .white-box:after, 
.green-call:after,.green-call:before {
	content: ""; display:table;
}
.clearfix:after,
.container:after,
.wrapper:after,
.wrapper-inside:after,
.white-box:after,
.green-call:after {
  clear: both;
}
.clearfix,
.container,
.wrapper,
.wrapper-inside,
.wrapper-inside-pullup,
.white-box,.green-call {
  zoom: 1;
}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-4half{
	float:left;
	margin-right:20px;
}
.last {margin-right:0;}
.span-1 {width:26px;}
.span-2 {width:72px;}
.span-3 {width:118px;}
.span-4 {width:300px;}
.span-4half {width:187px;}
.span-5 {width:210px;}
.span-6 {width:256px;}
.span-7 {width:302px;}
.span-8 {width:348px;}
.span-9 {
	width:385px;
}


.wrapper {
	width: 900px;
	margin: 0 auto;
}