/* CSS Document */

/* Header */
#header .header-area {
     margin: 0pt auto;
     padding: 38px 0pt 33px;
     width: 980px;
}

#wrapper {
     display: table;
     width: 100%;
}


#subscribe_div{
  text-align:center;
  text-align:-moz-center;
}
.top-block .top-holder:after, #header .header-area:after {
     clear: both;
     content: "";
     display: block;
}


.big-banner .rays {
     background: url("../images/rays-big.png") no-repeat scroll 50% 0pt transparent ! important;
     height: 389px ! important;
}

.big-banner #header .header-holder {
     height: 438px ! important;
}

#header .custom-logo {
     float: left;
     margin-left: 12px;
     outline: medium none;
     text-decoration: none;
}

#header .custom-logo .logo-text {
     color: #FFFFFF;
     font-size: 2em;
     font-weight: 700;
     letter-spacing: -0.5px;
     padding-left: 7px;
     word-spacing: 4px;
}

heading{
    text-align: left;
    font-size: 16px;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    word-spacing: 2px;
    //color:green;
	color: #7e7764;
}

subheading{
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #7e7764;
    font-weight: bold;
    font-style: italic;
    word-spacing: 2px;
}
#header .custom-logo img {
     margin-bottom: -17px;
}

#header .header-area {
     margin: 0pt auto;
     padding: 38px 0pt 33px;
     width: 980px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.big-banner .rays {
     background: url("../images/rays-big.png") no-repeat scroll 50% 0pt transparent ! important;
     height: 389px ! important;
}
/* ------ */

#frame{
    display: table;
    width: 855px;
    border: 5px solid #CCCCCC;
    border-radius: 8px;
    position:relative;
    /* top:-70px;*/
    
}
#main_box {
    display: table-row;

    font-size: 12px;
    margin: 10px 0px 10px 0px;
    padding-left: 0px;
    line-height: 19px;
    width: 901px;
    
}

#left_box {
    float: left;
    width: 60%;
    height: 100%;
    /*width: 500px;*/
    display: table-column;
    padding-left: 25px;
    border-right: thick double #CCCCCC;
}
#right_box {
    float: right;
    width: 40%;
    height:100%;
    /*width: 300px;*/
    padding-left:25px;
    padding-right: 25px;
    padding-bottom: 30px;
    display: table-column;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

#infor {
    border: 1px solid #CCCCCC;
}
/*
#left_cell{
    display: table-cell;
}

#right_cell{
    display: table-cell;
}
*/
body{
   // font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;   
 font-size:12px;
    }



p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ----------- form_container1 ----------- */

/*
#form_container1 label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
*/

#form_container1{

  margin-left: 0px;
  width: 100%;
}

#bill_to_left_column{

  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

#bill_to_right_column{

  text-align: left;
  padding-left: 30px;
  padding-top: 3px;
}


#web_main #main #left-main #infor  button{
clear:both;
margin-left:150px;
width:65px;
height:20px;
/* background:#666666 url(img/button.png) no-repeat; */
background:#666666
text-align:center;
line-height:18px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

#form_container1 h1 {
font-size:14px;
font-weight:bold;
margin-bottom:1px;
}


/* ----------- form_container2 ----------- */

#form_container2 label{
    display:block;
    font-weight:bold;
    text-align:right;
    white-space:nowrap;
}
#form_container2{
/*border:solid 2px #b7ddf2; */
/*background:#ebf4fb; */
    float:center;
}



#web_main #main #left-main #infor #form_container2 button{
clear:both;
margin-left:150px;
width:65px;
height:20px;
/* background:#666666 url(img/button.png) no-repeat; */
background:#666666
text-align:center;
line-height:18px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

#form_container2 h1 {
font-size:14px;
font-weight:bold;
margin-bottom:1px;
}



/* ----------- My Form ----------- */
/*
.myform{
margin:0 auto;
width:400px;
padding:14px;
}
*/
div.error_message {
    color:red;
}
/*-----------History Table styles ---------*/



/* Next and previous button */
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  color: #3276b1;
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}
/*------Testing tables--------*/
/*
#container {
    display: table;
    }

  #row  {
    display: table-row;
    }

  #left, #right, #middle {
    display: table-cell;
    } */

.btn_make_default{
  color: #ffffff;
  background-color: #0E8C3A;
  border-color: #0E8C3A;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 12px;
  text-decoration: none;

}

.btn_make_default:hover{

color: #ffffff;
  background-color: #0D6707;
  border-color: #0D6707;
  text-decoration: none;
}

.btn_remove_default{
  color: #ffffff;
  background-color: #BE2929;
  border-color: #BE2929;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 12px;
  text-decoration: none;
}


.btn_remove_default:hover{

color: #ffffff;
  background-color: #9A1C1C;
  border-color: #9A1C1C;
  text-decoration: none;
}

/* Submit button */

.btn-primary {
  color: #ffffff;
  background-color: #0E8C3A;
  border-color: #0E8C3A;
  border-radius: 2px;
  padding: 5px 14px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0E8C3A;
  border-color: #0E8C3A;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

/* Update button */

.btn-update {
  color: #ffffff;
  //background-color: #0093d2;
  //border-color: #0093d2;
  //border-radius: 1px;

  padding: 2px 5px 1px 5px;
  font-size: 12px;
  background-color: #006dcc !important;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc) !important;
  background-repeat: repeat-x !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  //color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

.btn-update:hover,
.btn-update:focus,
.btn-update:active,
.btn-update.active,
.open .dropdown-toggle.btn-update {

  background-color: #0044cc !important;
  color: #ffffff !important;
}

.btn-update:active,
.btn-update.active,
.open .dropdown-toggle.btn-update {
  background-image: none;
}

.btn-update.disabled,
.btn-update[disabled],
fieldset[disabled] .btn-update,
.btn-update.disabled:hover,
.btn-update[disabled]:hover,
fieldset[disabled] .btn-update:hover,
.btn-update.disabled:focus,
.btn-update[disabled]:focus,
fieldset[disabled] .btn-update:focus,
.btn-update.disabled:active,
.btn-update[disabled]:active,
fieldset[disabled] .btn-update:active,
.btn-update.disabled.active,
.btn-update[disabled].active,
fieldset[disabled] .btn-update.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-update .badge {
  color: #428bca;
  background-color: #fff;
}


/* Change products */

.btn-changeProducts {
  color: #ffffff;
  background-color: #0093d2;
  border-radius: 5px;
  padding: 13px 54px;
}

.btn-changeProducts:hover,
.btn-changeProducts:focus,
.btn-changeProducts:active,
.btn-changeProducts.active,
.open .dropdown-toggle.btn-changeProducts {
  //color: #ffffff;
  color : #333;
  background-color: #006692;
}

.btn-changeProducts:active,
.btn-changeProducts.active,
.open .dropdown-toggle.btn-changeProducts {
  background-image: none;
}

.btn-changeProducts.disabled,
.btn-changeProducts[disabled],
fieldset[disabled] .btn-changeProducts,
.btn-changeProducts.disabled:hover,
.btn-changeProducts[disabled]:hover,
fieldset[disabled] .btn-changeProducts:hover,
.btn-changeProducts.disabled:focus,
.btn-changeProducts[disabled]:focus,
fieldset[disabled] .btn-changeProducts:focus,
.btn-changeProducts.disabled:active,
.btn-changeProducts[disabled]:active,
fieldset[disabled] .btn-changeProducts:active,
.btn-changeProducts.disabled.active,
.btn-changeProducts[disabled].active,
fieldset[disabled] .btn-changeProducts.active {
  background-color: #428bca;
  border-color: #428bca;
}

.btn-changeProducts .badge {
  color: #428bca;
  background-color: #fff;
}

/* Table */


table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 20px;

}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.history-table > tbody > tr:nth-child(odd) > td,
.history-table > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

/* History pages */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 120px;
    margin-top: 30px;
    padding-top: 20px;
    height: 75px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    

}
#progressbar li {
    list-style-type: none;
    color: #6F4242;
    
    text-transform: uppercase;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    line-height: 35px;
    display: block;
    font-size: 15px;
    color: #333;
    background: white;
    border-radius: 30px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    /* FF6103 - Orange */
    /* 1CAF2D - Green */
    /* E38217 - Yellorange */
    background: #0E8C3A;
    color: white;
}

/* Container for subscription page */
#bigContainer{
    display:block;
    height: auto;
    margin-bottom: 0px;
   // background-image:url('../images/noise.png');
    background-repeat: repeat;
    
}

/* Container for account page */
#bigAccountContainer{
    display:block;
    height: auto;
    margin-bottom: -200px;
   // background-image:url('../images/noise.png');
    background-repeat: repeat;
    
}


/* Previous button */


.previousButton input{
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
}


/* Horizontal line */
hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 5px;
}

#account_detail {
    font-size: 14px;
   // font-family: Palatino;
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
font-weight: normal;
    word-spacing: 1px;
}

#table_cell_title{
  width: 20%;
  height: 25px;
  text-align:left;
  padding-right:10px;
  font: 12px/16px Verdana,Arial,Helvetica,sans-serif;
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//color: #7e7764;
}

#table_cell_value{
  width: 30%;
  font: 12px/16px Verdana,Arial,Helvetica,sans-serif;
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//color: #7e7764;
}

/* Select box on transaction History tab */
.select-style {
    
    border: 1px solid #ccc;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    font-weight: bold;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

#table_heading{
  font: 11px/16px Verdana,Arial,Helvetica,sans-serif;
}
#table_data{
  font: 11px/16px Verdana,Arial,Helvetica,sans-serif;
}

#footer{

}

/*  Chosen subscription on the account page */
.chosen_plans{
    list-style: none outside none;
    padding-left: 0;
    margin-top: -4px;
    //font-weight: bold;
    //color: #7F7F7F;
    font-size: 11px;
}

.chosen_plans > li{
    margin: 0 0 10px 0;
    padding-bottom: 10px;
}

.chosen_plans > li.last{
    border-bottom: 1px solid #E5E5E5;
}

.chosen_plans > li.removed  span, .chosen_plans > li.removed h3, .chosen_plans > li.removed ul{
    text-decoration: line-through;
}

.chosen_plans input[type='text'],.panel-section input[type='text']{
    color: #808080;
}

.innerBlock{
    width: 90%;
    padding: 4px 9px;
    background-color: #FAFAFA;
    margin-top: -14px;
    margin-bottom: 12px;
}

.innerBlock ul{
    list-style: square;
    margin-left: 13px;
    //color: #808080;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.innerBlock{
    border: 1px solid #E6E6E6;
    margin-top: 10px;
    padding: 15px 0;
}

.innerBlock ul{
  list-style: none;
}

/* Error message */
.error_message{
  margin: 0px auto 0px auto;
  padding-left: 250px;
  font-size: 10px;
  border: 1px solid #FFF;
  //background-color: #FDD;
  text-align: left;
}

/*field error message */
.contact-field-error-message{
  height: auto;
  display:none;
  color:red;
  font-size: 10px;
  padding-left:125px;
  margin-top: -10px;
}

.mandatory-indicator{
  color: rgb(255, 0, 0); 
  padding-left: 2px;
  display: inline;
}


.non-mandatory-field{

  width: 212px;
  height: 22px;
  
}

.mandatory-field{
  width: 212px;
  height: 22px;

}

#user_info_td{
  padding : 5px;
}
input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.bill-to-contact-summary-table-input{
  margin-top: 20px; 
  width: 100%; 
}


/* make_payment button */

.btn-make_payment {
  color: #ffffff;
  background-color: #0093d2;
  border-color: #0093d2;
  border-radius: 1px;

  padding: 2px 5px 1px 5px;
  font-size: 12px;
}

.btn-make_payment:hover,
.btn-make_payment:focus,
.btn-make_payment:active,
.btn-make_payment.active,
.open .dropdown-toggle.btn-make_payment {
  color: #ffffff;
  background-color: #006692;
  border-color: #006692;
}

.btn-make_payment:active,
.btn-make_payment.active,
.open .dropdown-toggle.btn-update {
  background-image: none;
}

.btn-make_payment.disabled,
.btn-make_payment[disabled],
fieldset[disabled] .btn-update,
.btn-make_payment.disabled:hover,
.btn-make_payment[disabled]:hover,
fieldset[disabled] .btn-make_payment:hover,
.btn-make_payment.disabled:focus,
.btn-make_payment[disabled]:focus,
fieldset[disabled] .btn-make_payment:focus,
.btn-make_payment.disabled:active,
.btn-make_payment[disabled]:active,
fieldset[disabled] .btn-make_payment:active,
.btn-make_payment.disabled.active,
.btn-make_payment[disabled].active,
fieldset[disabled] .btn-make_payment.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-make_payment .badge {
  color: #428bca;
  background-color: #fff;
}

/* Loading */

.loading{
  margin-top: 30px;
  margin-left:340px;
  width:10%;

}

.history-loading{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left:300px;
  margin-right:auto;
  width:10%;
}

#pay_option1, #pay_option2{   
    margin-bottom:0px;
    margin-right:10px;
    padding-top: 10px;

    height: 15px;
    width: 15px;
    vertical-align: baseline;
 }
#pay_option label{
  font-size: 13px;
  text-align: center;
}

#pay_option{
  
  width:300px;
  height:auto; 
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border-style:solid;
  border-width:1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-left: 100px;
  margin-bottom: 15px;

 /* -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.49);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.49);
  box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.49); */
} 

#form_container0{
  border:solid 0px #b7ddf2; 
  background:#FFF; 
  width: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#form_container0 label{
  font-size: 19px;
  margin-bottom: 10px;
  margin-left: 
}

#signup_or { 
    width:100%; 
    text-align:center; 
    border-bottom: 2px solid #000; 
    font-size: 20px;
    line-height:0.0em; 
    margin:10px 0 20px; 
    margin-top: 45px;
    margin-bottom: 10px;

} 

#stu_signup_email, #stu_signup_fname, 
#stu_signup_lname, #stu_signup_password,
#stu_signup_cpassword{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    margin-bottom: 0px;
    margin-right: 6px;
    margin-top: 0px;
    outline: 0 none;
    padding: 6px 12px;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);


}
    
#signup_or span { 
  background:#fff; 
  padding:0 10px; 
}


/* Create Account button */

.btn-account {
  color: #ffffff;
  background-color: #0093d2;
  border-color: #0093d2;
  border-radius: 5px;
  padding: 13px 65px;
  margin-top: 0px;
  margin-left: 0px;
  
}

.btn-account:hover,
.btn-account:focus,
.btn-account:active,
.btn-account.active,
.open .dropdown-toggle.btn-account {
  color: #ffffff;
  background-color: #0093d2;
  border-color: #0093d2;
}

.btn-account:active,
.btn-account.active,
.open .dropdown-toggle.btn-account {
  background-image: none;
}

.btn-account.disabled,
.btn-account[disabled],
fieldset[disabled] .btn-account,
.btn-account.disabled:hover,
.btn-account[disabled]:hover,
fieldset[disabled] .btn-account:hover,
.btn-account.disabled:focus,
.btn-account[disabled]:focus,
fieldset[disabled] .btn-account:focus,
.btn-account.disabled:active,
.btn-account[disabled]:active,
fieldset[disabled] .btn-account:active,
.btn-account.disabled.active,
.btn-account[disabled].active,
fieldset[disabled] .btn-account.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-account .badge {
  color: #428bca;
  background-color: #fff;
}

#google_login{
  color: #ffffff;
  background-color: #0093d2;
  border-color: #0093d2;
  border-radius: 5px;
  padding: 8px 20px 8px ;
  margin-top: 0px;
  width: 250px;
  height: 55px;
  align: left;
  font-size: 15px;
  text-decoration: none;

}

input:invalid {
  outline: 2px solid red;
}
input:focus:invalid {
  color: red;
}

div.growlUI { background: url(../images/check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; 
    margin-top: 20px;
    padding: 5px 5px 5px 35px; 
    text-align: left;
    font-size: 12px;
    top: 85px;

}

/**cancel button**/

.btn-danger {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #da4f49 !important;
  *background-color: #bd362f !important;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)) !important;
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f) !important;
  background-repeat: repeat-x !important;
  border-color: #bd362f #bd362f #802420 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff !important;
  background-color: #bd362f !important;
  *background-color: #a9302a !important;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9 !important;
}

/*****************/

/**primary button**/

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75) !important;
}


.btn-primary {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #006dcc !important;
  *background-color: #0044cc !important;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc)) !important;
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc) !important;
  background-image: -o-linear-gradient(top, #0088cc, #0044cc) !important;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc) !important;
  background-repeat: repeat-x !important;
  border-color: #0044cc #0044cc #002a80 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff !important;
  background-color: #0044cc !important;
  *background-color: #003bb3 !important;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9 !important;
}

/*****************/
