/** Sample 1 **/

.navbar-sample1 {
  background-color: #0e8c3a;
  border-color: #ffcd00;
}
.navbar-sample1 .navbar-brand {
  color: #ffffff;
}
.navbar-sample1 .navbar-brand:hover, .navbar-sample1 .navbar-brand:focus {
  color: #000000;
}
.navbar-sample1 .navbar-text {
  color: #ffffff;
}
.navbar-sample1 .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-sample1 .navbar-nav > li > a:hover, .navbar-sample1 .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-sample1 .navbar-nav > .active > a, .navbar-sample1 .navbar-nav > .active > a:hover, .navbar-sample1 .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffcd00;
}
.navbar-sample1 .navbar-nav > .open > a, .navbar-sample1 .navbar-nav > .open > a:hover, .navbar-sample1 .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffcd00;
}
.navbar-sample1 .navbar-toggle {
  border-color: #ffcd00;
}
.navbar-sample1 .navbar-toggle:hover, .navbar-sample1 .navbar-toggle:focus {
  background-color: #ffcd00;
}
.navbar-sample1 .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-sample1 .navbar-collapse,
.navbar-sample1 .navbar-form {
  border-color: #ffffff;
}
.navbar-sample1 .navbar-link {
  color: #ffffff;
}
.navbar-sample1 .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-sample1 .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-sample1 .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-sample1 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-sample1 .navbar-nav .open .dropdown-menu > .active > a, .navbar-sample1 .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-sample1 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffcd00;
  }
}



/** Sample 2 **/

.navbar-sample2 {
  background-color: #0e8c3a;
  border-color: #0a5f27;
}
.navbar-sample2 .navbar-brand {
  color: #ffffff;
}
.navbar-sample2 .navbar-brand:hover, .navbar-sample2 .navbar-brand:focus {
  color: #ffcd00;
}
.navbar-sample2 .navbar-text {
  color: #ffffff;
}
.navbar-sample2 .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-sample2 .navbar-nav > li > a:hover, .navbar-sample2 .navbar-nav > li > a:focus {
  color: #ffcd00;
}
.navbar-sample2 .navbar-nav > .active > a, .navbar-sample2 .navbar-nav > .active > a:hover, .navbar-sample2 .navbar-nav > .active > a:focus {
  color: #ffcd00;
  background-color: #0a5f27;
}
.navbar-sample2 .navbar-nav > .open > a, .navbar-sample2 .navbar-nav > .open > a:hover, .navbar-sample2 .navbar-nav > .open > a:focus {
  color: #ffcd00;
  background-color: #0a5f27;
}
.navbar-sample2 .navbar-toggle {
  border-color: #0a5f27;
}
.navbar-sample2 .navbar-toggle:hover, .navbar-sample2 .navbar-toggle:focus {
  background-color: #0a5f27;
}
.navbar-sample2 .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-sample2 .navbar-collapse,
.navbar-sample2 .navbar-form {
  border-color: #ffffff;
}
.navbar-sample2 .navbar-link {
  color: #ffffff;
}
.navbar-sample2 .navbar-link:hover {
  color: #ffcd00;
}

@media (max-width: 767px) {
  .navbar-sample2 .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-sample2 .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-sample2 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcd00;
  }
  .navbar-sample2 .navbar-nav .open .dropdown-menu > .active > a, .navbar-sample2 .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-sample2 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcd00;
    background-color: #0a5f27;
  }
}





/** Sample 3 **/

.navbar-sample3 {
  background-color: #333333;
  border-color: #282828;
}
.navbar-sample3 .navbar-brand {
  color: #f3f3f3;
}
.navbar-sample3 .navbar-brand:hover, .navbar-sample3 .navbar-brand:focus {
  color: #ffcd00;
}
.navbar-sample3 .navbar-text {
  color: #f3f3f3;
}
.navbar-sample3 .navbar-nav > li > a {
  color: #f3f3f3;
}
.navbar-sample3 .navbar-nav > li > a:hover, .navbar-sample3 .navbar-nav > li > a:focus {
  color: #ffcd00;
}
.navbar-sample3 .navbar-nav > .active > a, .navbar-sample3 .navbar-nav > .active > a:hover, .navbar-sample3 .navbar-nav > .active > a:focus {
  color: #ffcd00;
  background-color: #282828;
}
.navbar-sample3 .navbar-nav > .open > a, .navbar-sample3 .navbar-nav > .open > a:hover, .navbar-sample3 .navbar-nav > .open > a:focus {
  color: #ffcd00;
  background-color: #282828;
}
.navbar-sample3 .navbar-toggle {
  border-color: #282828;
}
.navbar-sample3 .navbar-toggle:hover, .navbar-sample3 .navbar-toggle:focus {
  background-color: #282828;
}
.navbar-sample3 .navbar-toggle .icon-bar {
  background-color: #f3f3f3;
}
.navbar-sample3 .navbar-collapse,
.navbar-sample3 .navbar-form {
  border-color: #f3f3f3;
}
.navbar-sample3 .navbar-link {
  color: #f3f3f3;
}
.navbar-sample3 .navbar-link:hover {
  color: #ffcd00;
}

@media (max-width: 767px) {
  .navbar-sample3 .navbar-nav .open .dropdown-menu > li > a {
    color: #f3f3f3;
  }
  .navbar-sample3 .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-sample3 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcd00;
  }
  .navbar-sample3 .navbar-nav .open .dropdown-menu > .active > a, .navbar-sample3 .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-sample3 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcd00;
    background-color: #282828;
  }
}




/** Sample 4 **/

.navbar-sample4 {
  background-color: #333333;
  border-color: #282828;
}
.navbar-sample4 .navbar-brand {
  color: #f3f3f3;
}
.navbar-sample4 .navbar-brand:hover, .navbar-sample4 .navbar-brand:focus {
  color: #0e8c3a;
}
.navbar-sample4 .navbar-text {
  color: #f3f3f3;
}
.navbar-sample4 .navbar-nav > li > a {
  color: #f3f3f3;
}
.navbar-sample4 .navbar-nav > li > a:hover, .navbar-sample4 .navbar-nav > li > a:focus {
  color: #0e8c3a;
}
.navbar-sample4 .navbar-nav > .active > a, .navbar-sample4 .navbar-nav > .active > a:hover, .navbar-sample4 .navbar-nav > .active > a:focus {
  color: #0e8c3a;
  background-color: #282828;
}
.navbar-sample4 .navbar-nav > .open > a, .navbar-sample4 .navbar-nav > .open > a:hover, .navbar-sample4 .navbar-nav > .open > a:focus {
  color: #0e8c3a;
  background-color: #282828;
}
.navbar-sample4 .navbar-toggle {
  border-color: #282828;
}
.navbar-sample4 .navbar-toggle:hover, .navbar-sample4 .navbar-toggle:focus {
  background-color: #282828;
}
.navbar-sample4 .navbar-toggle .icon-bar {
  background-color: #f3f3f3;
}
.navbar-sample4 .navbar-collapse,
.navbar-sample4 .navbar-form {
  border-color: #f3f3f3;
}
.navbar-sample4 .navbar-link {
  color: #f3f3f3;
}
.navbar-sample4 .navbar-link:hover {
  color: #0e8c3a;
}

@media (max-width: 767px) {
  .navbar-sample4 .navbar-nav .open .dropdown-menu > li > a {
    color: #f3f3f3;
  }
  .navbar-sample4 .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-sample4 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0e8c3a;
  }
  .navbar-sample4 .navbar-nav .open .dropdown-menu > .active > a, .navbar-sample4 .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-sample4 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0e8c3a;
    background-color: #282828;
  }
}