/* NProgress, (c) 2013, 2014 Rico Sta. Cruz - http://ricostacruz.com/nprogress
   @license MIT */

#nprogress {
  pointer-events: none;
  position: absolute;
  z-index: 9999;
}

#nprogress .bar {
  background: #00ECFF;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.spinner {
  display: none;
  position: relative;
  top: 13px;
}

.spinner-icon {
  width: 14px;
  height: 14px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #00ECFF;
  border-left-color: #00ECFF;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 500ms linear infinite;
          animation: nprogress-spinner 500ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}