/*
 * Override PrimeFaces styles so that they look closer to the Bootstrap theme.
 */

/* ======================================
 * General styles
 * =================================== */
.ui-widget,
.ui-widget-content {
	color: #666;
	font-size: 13px;
	letter-spacing: 0.015em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ======================================
 * Form/input/validation styles
 * =================================== */
.ui-state-error, .ui-widget-content .ui-state-error { /* fixes dropdowns that appear with red text when validation error occurs */
	color: inherit;
}

.ui-outputlabel .ui-outputlabel-rfi { /* styles the asterisk on required labels */
	color: #D00000;
	margin-left: 1px;
}

.ui-fieldset .ui-fieldset-legend {
	width: auto;
	padding: 4px 6px;
	font-size: 13px;
	line-height: normal;
	font-weight: bold;
	color: #666;
	margin-bottom: 0;
}

.ui-fileupload-buttonbar .ui-button {
	font-weight: normal;
	font-size: 12px;
	margin-right: 8px;
}

.ui-outputlabel.ui-state-error { /* do not re-color labels when validation errors occur */
	border: none;
	color: inherit;
	background: transparent;
}

.ui-message {
	margin: 5px 0;
}

.ui-message-info-icon, .ui-message-warn-icon, 
.ui-message-error-icon, .ui-message-fatal-icon { /* icons in a single message, e.g. validation error */
	top: 2px;
}

.ui-messages-info-icon, .ui-messages-warn-icon,
.ui-messages-error-icon, .ui-messages-fatal-icon { /* icons in grouped messages, e.g. validation errors */
	margin-top: -2px;
}

.ui-datatable .ui-selection-column .ui-chkbox-all { /* remove margin from Select All checkbox in table headers */
	margin: 0;
	position: relative;
	top: -1px;
}

.ui-chkbox-icon.ui-icon { /* override to use darker checkbox icon (checkboxes in tables were showing too light when selected) */
	background-image: url("/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap");
}

.ui-inputtextarea {
	width: 99%;
	resize: none;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.ui-tree .ui-tree-toggler {
	position: relative;
	top: 3px;
}

/* ======================================
 * Button styles
 * =================================== */
.btn + .btn {
	margin-left: 8px;
}

button.btn-small,
button.btn-mini {
	min-width: 60px;
}

.btn-link.btn-small {
	padding: 0 !important;				
}

td .btn-mini {
	min-width: 1px;
}

.btn.ui-button-text-only .ui-button-text
{
    padding: 0;
    line-height: inherit;
}

.ui-radiobutton .ui-radiobutton-box
{
	width: 13px;
	height: 13px;
	line-height: 13px;
	border-radius: 7px;
}

.ui-radiobutton-icon.ui-icon.ui-icon-bullet
{
	position: relative;
	top: -2px;
	left: -2px;
}

.table-split-button {
	margin-right: 0px;
}

.table-split-button .ui-button {
	height: 20px;
}

.table-split-button .ui-splitbutton-menubutton {
	height: 20px;
}

.button-panel {
	margin-top: 16px;
	text-align: right;
}

.link-panel {
	text-align: right;
}

.link-panel .btn-link {
	padding: 2px 0 !important;
}

/* ======================================
 * Confirm dialog
 * =================================== */
.ui-confirm-dialog-severity {
	display: none;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: right;
	padding: 8px 0px;
	margin: 0 10px;
}

.ui-dialog .ui-dialog-buttonpane button {
	min-width: 60px;
	margin-right: 10px;
}

.ui-dialog .ui-dialog-buttonpane button:last-child {
	margin-right: 0;
}

/* ======================================
 * Table styles
 * =================================== */
.ui-datatable table {
	table-layout: auto;
}

.ui-datatable tbody,
.ui-datatable tr {
    border: none;
}

.ui-datatable-tablewrapper {
	border-bottom: 1px solid #ddd;
}

.ui-datatable thead th.ui-state-default,
.ui-datatable tbody td
{
    color: #666;
    font-size: 13px;
    border: none;
    border-top: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
}

.ui-datatable.compressed thead th,
.ui-datatable.compressed tbody td
{
	font-size: 12px;
	padding: 5px 4px;
}

.ui-datatable thead th
{
    background: #f9f9f9;
}

.ui-datatable tr:hover td
{
	background-color: #eaf6fb;
}

.ui-datatable.no-hover tr:hover td
{
	background-color: initial;
}

.ui-datatable .ui-widget-content.ui-state-highlight
{
	background-color: #e7f4fa;
	background-image: none;
}

/* 'no-highlight' tables disable row highlighting on selected rows */
.ui-datatable.no-highlight .ui-widget-content.ui-state-highlight
{
	background-color: initial;
	background-image: none;
}

/* 'no-highlight' tables disable row highlighting on selected rows */
.ui-datatable.no-highlight .ui-widget-content.ui-datatable-odd.ui-state-highlight
{
	background-color: #F9F9F9;
}

/* stops header shading by sorted column */
.ui-datatable .ui-sortable-column.ui-state-active
{
	background-color: #f9f9f9;
}

.ui-selection-column .ui-radiobutton.ui-widget
{
	height: 12px;
	position: relative;
	top: -2px;
}

.ui-datatable .ui-datatable-selectable
{
	cursor: pointer;
}

.ui-sortable-column-icon.ui-icon-carat-2-n-s {
	opacity: 0.5;
}

.ui-widget-content .ui-datatable .ui-sortable-column.ui-state-active { /* fixes background color for sortable columns in widget containers, e.g. dialog popups */
	background-color: #f5f5f5;
}

/* ======================================
 * Growl styles
 * =================================== */
.ui-growl-item-container
{
	opacity: 0.95;
	filter: alpha(opacity=95);
}

/* ======================================
 * Paging table styles
 * =================================== */
.ui-datatable .ui-paginator
{
    padding: 2px 2px 2px 0;
    margin: 0;
    font-size: 11px;
    text-align: right;
    color: #666;
}

.ui-paginator .ui-icon
{
    text-align: center;
    margin: 2px 3px !important;
    height: 16px !important;
}

.ui-paginator .ui-paginator-current
{
 	margin: 1px 4px 0 0;
    float: left;
}

.ui-paginator-page
{
    vertical-align: middle;
    line-height: normal;
    padding: 3px 6px !important;
}

.ui-paginator-first,
.ui-paginator-prev,
.ui-paginator-next,
.ui-paginator-last
{
    vertical-align: middle;
    line-height: normal;
    padding: 0 !important;
}

/* ======================================
 * Tab styles
 * =================================== */
.ui-tabs.ui-tabs-top
{
	border-bottom: none;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a
{
	padding: 5px;
	font-size: 13px;
	color: #8BADBE;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a
{
	color: #0088CC;
	text-shadow: 1px 1px 1px #eaeaea;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active
{
	border-color: #b7b7b7 #b7b7b7 #fff #b7b7b7;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header
{
	border-bottom: 1px solid #b7b7b7;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-hover
{
	background-color: transparent;
	border-color: #b7b7b7 #b7b7b7 #fff #b7b7b7;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-hover a
{
	color: #0088CC;
}

.ui-tabs .ui-tabs-panel
{
	padding: 0;
}

.ui-tabs-panel .ui-datatable th
{
	background-color: #f5f5f5;
}

/* ======================================
 * Menu (Dropdown) Button styles
 * =================================== */
.ui-menubutton
{
	font-size: 11px;
}

.ui-menubutton .ui-button-text-icon-right .ui-button-text
{
	padding: 2px 22px 2px 10px;
}

.ui-menubutton .ui-button-text-icon-right .ui-icon
{
	position: absolute;
	top: 1px;
	margin-top: 0;
}

.ui-menu.ui-widget
{
	min-width: 100px;
}

.ui-menu
{
	width: inherit;
}

.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text
{
	margin-left: 10px;
	font-size: 13px;
	margin-right: 16px;
	color: #333;
}

.ui-menuitem.ui-state-hover
{
	background-color: #0081c2;
}

.ui-menu.ui-widget .ui-menuitem.ui-state-hover .ui-menuitem-text
{
	color: #fff;
}

.ui-menu.ui-widget .ui-separator {
	background: none;
	border-bottom: 1px solid #d0d0d0;
	margin-top: 4px;
	margin-bottom: 4px;
}

/* ======================================
 * Dialog styles
 * =================================== */
.ui-widget-overlay {
	opacity: .50;
	filter: Alpha(Opacity=50);
}

.ui-dialog.ui-widget-content .ui-dialog-content {
	padding: 8px 12px 12px 12px;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	border-bottom: 1px solid #ddd;
	background-color: #f0f0f0;
	padding: 5px 10px;
	margin: 0;
}

.ui-dialog.ui-widget-content .ui-dialog-title {
	font-size: 18px;
	text-shadow: 1px 1px 1px #e0e0e0;
	font-weight: normal;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar-close {
	margin-top: 0;
	position: relative;
	top: 6px;
}

.ui-dialog.ui-widget-content {
	box-shadow: 0 0 64px #000 !important;
}