#progressbar {
    margin-bottom: 120px;
    margin-top: 30px;
    padding-top: 20px;
    height: 75px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    

}
#progressbar li {
    list-style-type: none;
    color: #6F4242;
    
    text-transform: uppercase;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    line-height: 35px;
    display: block;
    font-size: 15px;
    color: #333;
    background: white;
    border-radius: 30px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    /* FF6103 - Orange */
    /* 1CAF2D - Green */
    /* E38217 - Yellorange */
    background: #0E8C3A;
    color: white;
}