#frame{
    display: table;
    width: 900px;
    background: #FFF;
    border: 5px solid #CCCCCC;
    border-radius: 8px;
    position:relative;
    top:-70px;
    
}
#main_box {
    display: table-row;
	font-size: 12px;
    margin: 10px 0px 10px 0px;
    padding-left: 0px;
    line-height: 19px;
    width: 901px;
    
}
/* Table layout */

#list_products_box {
    float: left;
    width: 65%;
    height: 100%;
    /*width: 500px;*/
    display: table-column;
    padding-left: 0px;
   /* border-right: thick double #CCCCCC; */
}
#cart_box {
    float: right;
    width: 35%;
    height:100%;
    /*width: 300px;*/
    padding-left:25px;
    padding-right: 25px;
    padding-bottom: 30px;
    display: table-column;
}

/* Product List */

#listItem{
	
	background: #FFF; 
	width:540px;
	height:auto; 
	border-radius: 0px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 15px;

	-webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.49);
	-moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.49);
	box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.49);
}

.prod_list_heading{
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	padding-top: 10px;  
	display: block;
}

/* Shopping Cart */
#cartItem{
	
	background: #FFF; 
	width:250px;
	height: auto; 
	margin: 10px;
	
	-webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.49);
	-moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.49);
	box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.49);
}

#cartItem span{
	display:none;
}

#cartItem:hover {
	 width:260px;
	 height:auto;
	 margin: 5px; /* inital margin - ((intial margin - width (or height))/2) */
	 cursor: hand;
}
#cartItem:hover span {                           
	display:inline;
	width: 20px;
	height: 20px;
	cursor: pointer;
}


.prod_cart_heading{
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px; 
	display: block;
}

.prod_description{
	margin-left: 10px;
}

#select_products_head{
	text-align: center;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 35px;
	font-size: 18px;
	font-family: Myriad;
	font-weight: bold;
}

#cart_head{
	text-align: center;
	margin-left: 0px;
	margin-top: 25px;
	font-size: 18px;
	font-family: Myriad;
	font-weight: bold;

}