﻿/* Tab Content - menucool.com */

ul.tabs
{
    padding: 10px 2px;
    font-size: 0;
    margin:0px 15px;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 10px 16px;
    //border: 0px solid #0E8C3A;
    //border-bottom-color:#B7B7B7;
border: 0px solid #0044cc;
    background: #0044cc;
border-bottom-color: #0044cc;
    color: #FFF;
    //background: #0E8C3A url(../images/tab.png) 0 0 repeat-x;
background: #0093d2 none repeat-x scroll 0 0;
    border-radius: 8px 8px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    /*
    border: 3px solid #B7B7B7;
    background: url(../images/tab-hover.gif) 0 -36px repeat-x;
    */
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    color: #000;
    border: 3px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 3px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 5px 9px 9px 9px;
}